<div class="application">
  <div class="header">
    <div class="nodes">
      <ul>
        <ng-container *ngFor="let node of initalNodes">
          <li [draggable]="true" (dragstart)="drag($event,node)">{{node.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="app-title">Js Plumb v5 - Community Edition</div>
    <div class="actions"><button (click)="save()">Save</button><button (click)="save()"
        *ngIf="!storageIsEmpty">Load</button></div>
  </div>
  <div id="diagram" class="diag-container" (drop)="dropItem($event)" (dragover)="allowDrop($event)">
  </div>
</div>